
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* navbar section start */

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 135px 24px 135px;
    background:  rgba(21, 128, 61, 1);
}

.nav-title{
    font-size: 35px;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.nav-section ul {
    width: 240px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-section ul li a{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.primary-btn{
    width: 131px;
    height: 43px;
    align-items: center;
    padding: 12px 20px 12px 20px;
    background-color: rgba(250, 204, 21, 1);
    border: 0;
    border-radius: 999px;
    color: rgba(21, 128, 61, 1);
}

/* navbar section end */
/* banner section start */

.banner-section {
    background: rgba(207, 240, 220, 1);
    text-align: center;
    width: 100%;
    height: 383px;
    background-image: url(./assets/hero-leaf1.png), url(./assets/hero-leaf2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    margin: 0;
}


/* bannner section end */
/* card section start */

.card-section{
    width: 1650px;
    margin: 0 auto;
}

.card-section-heading{
    text-align: center;
}

.flex {
    display: flex;
    gap: 20px;             
    align-items: flex-start; 
}

.Categories-section-title{
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.all-trees ul{ 
    list-style: none;
    padding: 0;
}

.all-trees li{
    padding-top: 16px;
    width: 250px;
    height: 35px;
}

.all-trees li a{
    text-decoration: none;
    color: rgba(31, 41, 55, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px 8px 10px;
}

.all-trees li:hover{
    border-radius: 4px;
    background: rgba(21, 128, 61, 1);
}

.all-trees li a:hover{
    color:rgba(255, 255, 255, 1);
}

#categories-container ul{
    list-style: none;
    padding: 0;
}

#categories-container li{
    padding-top: 16px;
    width: 250px;
    height: 35px;
}

#categories-container li a{
    text-decoration: none;
    color: rgba(31, 41, 55, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
     padding: 8px 10px 8px 10px;
}


#categories-container li:hover{
    border-radius: 4px;
    background: rgba(21, 128, 61, 1);
}

#categories-container li a:hover{
    color:rgba(255, 255, 255, 1);
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}


.plant-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 343.33px;
    height: 369px;
}

.plant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.category{
    width: 86px;
    height: 28px;
    border-radius: 400px;
    background: rgba(220, 252, 231, 1);
}

/* our impact section start */

.our-impact-section{
    width: 100%;
    height: 436px;
    background: rgba(207, 240, 220, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-impact-section-title{
    color: rgba(31, 41, 55, 1);
    font-size: 32px;
    font-weight: 600
}

.reviews{
    display: flex;
}

.review{
    width: 310px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    margin-left: 50px;
}

.review h6{
    color: rgba(21, 128, 61, 1);
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.review p{
    color: rgba(31, 41, 55, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* our impact section end */
/* Plant a Tree Today section start*/

.Plant-a-Tree-Today{
    background: rgba(22, 101, 52, 1);
    width: 100%;
    height: 591px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Plant-a-Tree-Today-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 391px;
}

.Plant-a-Tree-Today-section h3{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 600;
}

.Plant-a-Tree-Today-from{
    border-radius: 12px;
    box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.06);
    background: rgba(21, 128, 61, 1);
    width: 650px;
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.Plant-a-Tree-Today-from input{
    width: 570px;
    height: 39px;
    margin-top: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(228, 228, 231, 1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);    
}

.input-btn{
    margin-top: 20px;
    width: 570px;
    height: 43px;
}

/* Plant a Tree Today section end */
/* footer section start */

.footer-section{
    background-color: rgba(20, 83, 45, 1);
    width: 100%;
    height: 72px;
}

.footer-section p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    margin: 0;
}

/* footer section end */